<div class="container is-vcentered is-full-desktop" style="height: 100%">
  <div class="level">
    <div class="section level-left">
      bloc 1
    </div>

    <div class="section level-right">
      <app-translate></app-translate>
      bloc 2
    </div>
  </div>

  <div class="level ">
    <div class="section level-left">
      bloc 1
    </div>

    <div class="section level-right">
      bloc 1
    </div>
  </div>


  <div class="level">
    <div class="section level-left">
      bloc 1
    </div>

    <div class="section level-right">
      <app-chat-box></app-chat-box>
    </div>
  </div>
</div>
