/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
  overflow-y: hidden;
  background-image: url('assets/images/test.jpg');;
}

body{
  height: 100%;
}
